## Notebook Objective
- The purpose of this notebook is to explore dataset tables before creating a PostgreSQL database
- Some tables are truncated within the workbook to filter for desired columns; for these tables, exports are created for subsequent import into PostgreSQL
- See file "create_database.sql" for PostgreSQL database creation

import pandas as pd

In [1]:
import pandas as pd

In [2]:
daily = pd.read_csv('./auditor_database_files/daily.csv')

In [3]:
daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7007337 entries, 0 to 7007336
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   ticker       object
 1   date         object
 2   lastupdated  object
 3   ev           float64
 4   evebit       float64
 5   evebitda     float64
 6   marketcap    float64
 7   pb           float64
 8   pe           float64
 9   ps           float64
dtypes: float64(7), object(3)
memory usage: 534.6+ MB

In [4]:
daily.head()

,ticker,date,lastupdated,ev,evebit,evebitda,marketcap,pb,pe,ps
0,LPIH,2016-01-04,2021-01-22,-13.4,-0.2,-0.1,1.0,0.0,0.0,0.0
1,ADXS,2016-01-04,2021-01-22,216.9,-5.5,-5.5,314.0,3.2,-8.3,NaN
2,SLG,2016-01-04,2021-01-21,20623.0,37.1,18.2,10975.3,1.5,48.9,6.8
3,FCEL,2016-01-04,2021-01-21,89.5,-4.1,-5.0,141.9,1.4,-5.0,0.9
4,VRDN,2016-01-04,2021-01-20,-3.3,0.4,0.4,7.7,0.6,-0.8,3.0

In [5]:
actions = pd.read_csv('./auditor_database_files/actions.csv')

In [6]:
actions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139017 entries, 0 to 139016
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          139017 non-null  object
 1   action        139017 non-null  object
 2   ticker        138685 non-null  object
 3   name          139017 non-null  object
 4   value         129617 non-null  float64
 5   contraticker  6697 non-null    object
 6   contraname    3811 non-null    object
dtypes: float64(1), object(6)
memory usage: 7.4+ MB

In [9]:
actions.head(20)

,date,action,ticker,name,value,contraticker,contraname
0,2021-01-25,tickerchangefrom,FTCV,Fintech Acquisition Corp V,NaN,FCTVU,NaN
1,2021-01-25,tickerchangeto,FTCV,Fintech Acquisition Corp V,NaN,FTCV,NaN
2,2021-01-25,tickerchangefrom,HTPA,Highland Transcend Partners I Corp,NaN,HTPA.U,NaN
3,2021-01-25,tickerchangeto,HTPA,Highland Transcend Partners I Corp,NaN,HTPA,NaN
4,2021-01-25,listed,FTCVW,Fintech Acquisition Corp V,NaN,NaN,NaN
5,2021-01-25,listed,HTPA.WS,Highland Transcend Partners I Corp,NaN,NaN,NaN
6,2021-01-25,dividend,AZZ,Azz Inc,0.17000,NaN,NaN
7,2021-01-25,dividend,GBX,Greenbrier Companies Inc,0.27000,NaN,NaN
8,2021-01-25,dividend,ITUB,Itau Unibanco Holding Sa,0.00954,NaN,NaN
9,2021-01-25,dividend,SAR,Saratoga Investment Corp,0.42000,NaN,NaN
10,2021-01-25,dividend,RY,Royal Bank Of Canada,0.84814,NaN,NaN
11,2021-01-25,dividend,CVLY,Codorus Valley Bancorp Inc,0.13000,NaN,NaN
12,2021-01-25,dividend,HGLB,Highland Global Allocation Fund,0.07100,NaN,NaN
13,2021-01-25,relation,FTCV,Fintech Acquisition Corp V,NaN,FTCVW,Fintech Acquisition Corp V
14,2021-01-25,relation,HTPA,Highland Transcend Partners I Corp,NaN,HTPA.WS,Highland Transcend Partners I Corp
15,2021-01-22,tickerchangefrom,OCA,Omnichannel Acquisition Corp,NaN,OCA.U,NaN
16,2021-01-22,tickerchangeto,OCA,Omnichannel Acquisition Corp,NaN,OCA,NaN
17,2021-01-22,tickerchangefrom,CAP,Capitol Investment Corp V,NaN,CAP.U,NaN
18,2021-01-22,tickerchangeto,CAP,Capitol Investment Corp V,NaN,CAP,NaN
19,2021-01-22,tickerchangefrom,TACA,Trepont Acquisition Corp I,NaN,TACA.U,NaN

In [10]:
events = pd.read_csv('./auditor_database_files/events.csv')

In [11]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481820 entries, 0 to 481819
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ticker      481820 non-null  object
 1   date        481820 non-null  object
 2   eventcodes  481820 non-null  object
dtypes: object(3)
memory usage: 11.0+ MB

In [12]:
events.head()

  ticker        date eventcodes
0   AAOI  2021-01-25         34
1   ABEO  2021-01-25      71|91
2    ABG  2021-01-25         34
3    ABM  2021-01-25         34
4   ABUS  2021-01-25   22|81|91

In [2]:
indicators = pd.read_csv('./auditor_database_files/indicators.csv')

In [4]:
indicators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318 entries, 0 to 317
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   table         318 non-null    object
 1   indicator     318 non-null    object
 2   isfilter      318 non-null    object
 3   isprimarykey  318 non-null    object
 4   title         318 non-null    object
 5   description   312 non-null    object
 6   unittype      318 non-null    object
dtypes: object(7)
memory usage: 17.5+ KB

In [5]:
indicators.head()

,table,indicator,isfilter,isprimarykey,title,description,unittype
0,SF1,revenue,N,N,Revenues,[Income Statement] Amount of Revenue recognize...,currency
1,SF1,cor,N,N,Cost of Revenue,[Income Statement] The aggregate cost of goods...,currency
2,SF1,sgna,N,N,Selling General and Administrative Expense,[Income Statement] A component of [OpEx] repre...,currency
3,SF1,rnd,N,N,Research and Development Expense,[Income Statement] A component of [OpEx] repre...,currency
4,SF1,opex,N,N,Operating Expenses,[Income Statement] Operating expenses represen...,currency

In [12]:
sf1_columns = ['ticker',
    'dimension',
    'calendardate',
    'reportperiod',
    'lastupdated',
    'assets',
    'capex',
    'ncfbus',
    'ncfinv',
    'ncff',
    'ncfdebt',
    'ncfcommon',
    'ncfdiv',
    'ncfi',
    'ncfo',
    'liabilities',
    'debtusd',
    'ebitdausd',
    'netinccmnusd',
    'equityusd',
    'revenueusd',
    'cashnequsd',
    'marketcap',
    'ev']

In [13]:
sf1 = pd.read_csv('./auditor_database_files/sf1.csv', usecols = sf1_columns)

In [14]:
sf1.columns

Index(['ticker', 'dimension', 'calendardate', 'reportperiod', 'lastupdated',
       'assets', 'capex', 'cashnequsd', 'debtusd', 'ebitdausd', 'equityusd',
       'ev', 'liabilities', 'marketcap', 'ncfbus', 'ncfcommon', 'ncfdebt',
       'ncfdiv', 'ncff', 'ncfi', 'ncfinv', 'ncfo', 'netinccmnusd',
       'revenueusd'],
      dtype='object')

In [15]:
sf1.head()

,ticker,dimension,calendardate,reportperiod,lastupdated,assets,capex,cashnequsd,debtusd,ebitdausd,...,ncfbus,ncfcommon,ncfdebt,ncfdiv,ncff,ncfi,ncfinv,ncfo,netinccmnusd,revenueusd
0,A,ARQ,2016-03-31,2016-04-30,2020-12-18,7.640000e+09,-25000000.0,2.139000e+09,1.889000e+09,199000000.0,...,0.0,-86000000.0,155000000.0,-37000000.0,30000000.0,-108000000.0,-83000000.0,256000000.0,91000000.0,1.019000e+09
1,A,ARQ,2016-06-30,2016-07-31,2020-12-18,7.734000e+09,-24000000.0,2.199000e+09,1.887000e+09,211000000.0,...,0.0,-67000000.0,0.0,-37000000.0,-110000000.0,-24000000.0,0.0,199000000.0,124000000.0,1.044000e+09
2,A,ARQ,2016-09-30,2016-10-31,2020-12-18,7.802000e+09,-52000000.0,2.289000e+09,1.912000e+09,226000000.0,...,-26000000.0,-43000000.0,25000000.0,-38000000.0,-56000000.0,-78000000.0,245000000.0,234000000.0,126000000.0,1.111000e+09
3,A,ARQ,2016-12-31,2017-01-31,2020-12-18,7.872000e+09,-32000000.0,2.241000e+09,1.992000e+09,268000000.0,...,-69000000.0,-93000000.0,89000000.0,-42000000.0,-58000000.0,-101000000.0,0.0,116000000.0,168000000.0,1.067000e+09
4,A,ARQ,2017-03-31,2017-04-30,2020-12-18,8.016000e+09,-43000000.0,2.389000e+09,2.043000e+09,265000000.0,...,0.0,-75000000.0,52000000.0,-43000000.0,-67000000.0,-43000000.0,0.0,257000000.0,164000000.0,1.102000e+09

In [17]:
sf1.to_csv('sf1_columns.csv', index=False)

In [18]:
sp500 = pd.read_csv('./auditor_database_files/sp500.csv')

In [19]:
sp500.columns

Index(['date', 'action', 'ticker', 'name', 'contraticker', 'contraname',
       'note'],
      dtype='object')

In [20]:
sp500.head()

,date,action,ticker,name,contraticker,contraname,note
0,2021-01-20,current,A,Agilent Technologies Inc,NaN,NaN,NaN
1,2021-01-20,current,AAL,American Airlines Group Inc,NaN,NaN,NaN
2,2021-01-20,current,AAP,Advance Auto Parts Inc,NaN,NaN,NaN
3,2021-01-20,current,AAPL,Apple Inc,NaN,NaN,NaN
4,2021-01-20,current,ABBV,AbbVie Inc,NaN,NaN,NaN

In [21]:
tickers = pd.read_csv('./auditor_database_files/tickers.csv')

In [22]:
tickers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46250 entries, 0 to 46249
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   table           46250 non-null  object
 1   permaticker     46250 non-null  int64
 2   ticker          38851 non-null  object
 3   name            46250 non-null  object
 4   exchange        38851 non-null  object
 5   isdelisted      38851 non-null  object
 6   category        38733 non-null  object
 7   cusips          38655 non-null  object
 8   siccode         33663 non-null  float64
 9   sicsector       33663 non-null  object
 10  sicindustry     33663 non-null  object
 11  famasector      0 non-null      float64
 12  famaindustry    32770 non-null  object
 13  sector          32749 non-null  object
 14  industry        32749 non-null  object
 15  scalemarketcap  30353 non-null  object
 16  scalerevenue    29225 non-null  object
 17  relatedtickers  15329 non-null  object
 18  currency        46250 non-null  object
 19  location        43858 non-null  object
 20  lastupdated     38851 non-null  object
 21  firstadded      38851 non-null  object
 22  firstpricedate  38851 non-null  object
 23  lastpricedate   38851 non-null  object
 24  firstquarter    38190 non-null  object
 25  lastquarter     38190 non-null  object
 26  secfilings      43586 non-null  object
 27  companysite     12293 non-null  object
dtypes: float64(2), int64(1), object(25)
memory usage: 9.9+ MB

In [23]:
tickers.head()

,table,permaticker,ticker,name,exchange,isdelisted,category,cusips,siccode,sicsector,...,currency,location,lastupdated,firstadded,firstpricedate,lastpricedate,firstquarter,lastquarter,secfilings,companysite
0,SF1,196290,A,Agilent Technologies Inc,NYSE,N,Domestic Common Stock,00846U101,3826.0,Manufacturing,...,USD,California; U.S.A,2020-12-18,2014-09-26,1999-11-18,2021-01-25,1997-06-30,2020-09-30,https://www.sec.gov/cgi-bin/browse-edgar?actio...,http://www.agilent.com
1,SF1,124392,AA,Alcoa Corp,NYSE,N,Domestic Common Stock,013872106,3334.0,Manufacturing,...,USD,Pennsylvania; U.S.A,2020-10-30,2016-11-01,2016-11-01,2021-01-25,2014-12-31,2020-09-30,https://www.sec.gov/cgi-bin/browse-edgar?actio...,http://www.alcoa.com
2,SF1,122827,AAAB,Admiralty Bancorp Inc,NASDAQ,Y,Domestic Common Stock,007231103,6022.0,Finance Insurance And Real Estate,...,USD,Florida; U.S.A,2019-07-29,2017-09-09,1998-09-25,2003-01-28,1997-09-30,2002-09-30,https://www.sec.gov/cgi-bin/browse-edgar?actio...,NaN
3,SF1,120538,AAAGY,Altana Aktiengesellschaft,NYSE,Y,ADR Common Stock,02143N103,2834.0,Manufacturing,...,EUR,Jordan,2019-05-17,2018-02-13,2002-05-22,2010-08-12,2000-12-31,2005-12-31,https://www.sec.gov/cgi-bin/browse-edgar?actio...,NaN
4,SF1,155760,AAAP,Advanced Accelerator Applications SA,NASDAQ,Y,ADR Common Stock,00790T100,2834.0,Manufacturing,...,EUR,France,2020-10-08,2016-05-19,2015-11-11,2018-02-09,2012-12-31,2017-09-30,https://www.sec.gov/cgi-bin/browse-edgar?actio...,NaN

In [35]:
firm_columns = ['Firm Name', 'Firm Country', 'Audit Report Type', 'Issuer ID', 'Issuer Name', 
                 'Issuer Ticker', 'Signed Date', 'Filing Date', 'Firm Issuing Country',
               'Firm Issuing City', 'Firm Issuing State', 'Is Multiple Audit Period']

In [36]:
firm_filings = pd.read_csv('./auditor_database_files/firm_filings.csv', usecols = firm_columns)

In [37]:
firm_filings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61210 entries, 0 to 61209
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Firm Name                 61210 non-null  object
 1   Firm Country              61210 non-null  object
 2   Audit Report Type         61210 non-null  object
 3   Issuer ID                 60148 non-null  float64
 4   Issuer Name               61210 non-null  object
 5   Issuer Ticker             34874 non-null  object
 6   Firm Issuing Country      61210 non-null  object
 7   Firm Issuing City         61210 non-null  object
 8   Firm Issuing State        56193 non-null  object
 9   Is Multiple Audit Period  61210 non-null  bool
 10  Signed Date               61210 non-null  object
 11  Filing Date               61210 non-null  object
dtypes: bool(1), float64(1), object(10)
memory usage: 5.2+ MB

In [38]:
firm_filings.head()

,Firm Name,Firm Country,Audit Report Type,Issuer ID,Issuer Name,Issuer Ticker,Firm Issuing Country,Firm Issuing City,Firm Issuing State,Is Multiple Audit Period,Signed Date,Filing Date
0,Grant Thornton LLP,United States,Investment Company,611338.0,"Invesco Unit Trusts, Municipal Series 1284",NaN,United States,New York,New York,False,2/1/2017 12:00:00 AM,2/1/2017 4:21:09 PM
1,Grant Thornton LLP,United States,Investment Company,649306.0,"Invesco Unit Trusts, Series 1733",NaN,United States,New York,New York,False,2/1/2017 12:00:00 AM,2/1/2017 4:21:09 PM
2,Grant Thornton LLP,United States,Investment Company,649308.0,"Invesco Unit Trusts, Series 1735",NaN,United States,New York,New York,False,2/1/2017 12:00:00 AM,2/1/2017 4:21:09 PM
3,Grant Thornton LLP,United States,Investment Company,581566.0,Advisors Disciplined Trust 1240,NaN,United States,Chicago,Illinois,False,2/2/2017 12:00:00 AM,2/2/2017 1:25:30 PM
4,Grant Thornton LLP,United States,Investment Company,581613.0,Advisors Disciplined Trust 1243,NaN,United States,Chicago,Illinois,False,2/2/2017 12:00:00 AM,2/2/2017 1:25:30 PM

In [39]:
firm_filings.to_csv('firm_filings_columns.csv', index=False)